<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action ='/users' method='post'>
	<div> Animal Type: <input type='text' name='type'></div>
	<div> Name: <input type='text' name='name'></div>
	<p><input type='submit' name='submit'></p>
</form>

</body>
</html>