<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2> Edit page </h2>
<form action ='/update/<%= user[0].id %>' method='post'>
	<div> Animal Type: <input type='text' name='type'></div>
	<div> Name: <input type='text' name='name'></div>
	<p><input type='submit' name='submit'></p>
</form>
<p><a href = '/'> home </a></p>
</body>
</html>