<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p> Type: <%= user[0].type %></p>
<p> Name: <%= user[0].name %></p>

<p> <a href = '/animals/<%= user[0].id %>/edit'> edit </a>  </p>
<p> <a href = '/animals/<%= user[0].id %>/destroy'> remove  </a>  </p>


<p><a href = '/'> home </a></p>

</body>
</html>


